<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ToDo App</title>
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
		
	</head>
	<body>

		<div class="container">
			
			<div class="row">
				<div class="col-md-12" >
					<h2> Your today's list </h2>
					<form action="{% url 'todo:add'%}" id ="myform" method="POST" role="form">
						{% csrf_token %}	
					    {{form.as_p}}		
					<div class="row">
								<div class="col-md-12 text-right">
										<button type="submit" id="btnadd" class="btn btn-success"> Add </button>
								</div>
					</div>
					<div class="row mt-4">
						<div class="col-lg-12 text-right mb-4">
									<a class="btn btn-danger btn-sm" href="{% url 'todo:delete' %}"> DELETE COMPLETED</a>
									<a class="btn btn-danger btn-sm" href="{% url 'todo:deleteAll' %}">DELETE ALL</a>
						</div>
					</div>


					<table class="table table-border">
						<tbody>
							<thead>
								<tr>
									<th>
										Text
									</th>
									<th>Date</th>
									<th>Edit</th>
								</tr>
							</thead>
							{% for todo in todo_list %}
							<tr>
								<td>
									<a href="{% url 'todo:complete' todo.id %}"> 
									{% if todo.complete %}	
									<strike>{{ todo.text }}</strike>
											{% else %}	
											{{ todo.text }}
											{%endif%}
								</a>
								</td>
								<td>{{ todo.date}}</td>
							<td>
	
								<a class="btn btn-warning btn-sm" href="{% url 'todo:edit' todo.id%}">Edit</a> 
				
									
							</td>
							</tr>
							{% endfor %}
						</tbody>
				</div>
			</div>
			<footer>
				<div class="row pad">
					</div>
				</div>
			</footer>
		</div>
	</div>/
	</body>

	<script
  src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script type="text/javascript"> 
	
	$(document).ready(function(){
		var $form = $('#myform');
		$('#btnadd').click(function(e){
			e.preventDefault();
			var $formData = $form.serialize();
			console.log($formData);
			$.ajax({
				method: 'POST', 
				url: '/add/',
				data: $formData,
				success: handleSuccess,
				error: handleError,   


			});
			function handleSuccess(data){
				getList();
			}
			function handleError(){
				alert('failure');
			}
			


		});
		
		
		});

		function getList() {
			$.ajax({
				method: 'GET', 
				url: '/TODO', 
				success: function(json){
					alert(json);
					
				}			

		
	});
}
		
	
	</script>	
	




</html>